{% extends "base.html" %}
{% block content %}
<div class="dashboard-container">
    <h1>MariaCare</h1>
    <h2>Customer Acquisition for Preschools</h2>
    <h3>What would you like to manage today?</h3>
    <p>Admin Activities</p>
    <div class="button-grid">
        <a href="{{ url_for('parents') }}" class="dashboard-button">Parents</a>
        <a href="{{ url_for('children') }}" class="dashboard-button">Children</a>
        <a href="{{ url_for('teachers') }}" class="dashboard-button">Teachers</a>
        <a href="{{ url_for('classrooms') }}" class="dashboard-button">Classrooms</a>
    </div>
    <p>Enrollment Activities</p>
    <div class="button-grid">
        <a href="{{ url_for('tour_calendar') }}" class="dashboard-button">Tour Calendar</a>
        <a href="{{ url_for('first_contact_info') }}" class="dashboard-button">First Contact Info</a>
        <a href="{{ url_for('enrollment_log') }}" class="dashboard-button">Enrollment Log</a>
        <a href="{{ url_for('invoicing') }}" class="dashboard-button">Invoicing</a>
    </div>
    <p>Parent Activities</p>
        <div class="button-grid">
        <a href="{{ url_for('daily_sheets') }}" class="dashboard-button">Daily Sheets</a>
        <a href="{{ url_for('incident_reports') }}" class="dashboard-button">Incident Reports</a>
        <a href="{{ url_for('behavior_notes') }}" class="dashboard-button">Behavior Notes</a>
        <a href="{{ url_for('medication_log') }}" class="dashboard-button">Medication Log</a>
    </div>
    
</div>
{% endblock %}
