{% extends "base.html" %}
{% block content %}
<h1>Parents</h1>

  <!-- Form to Add a New Parent -->
  <h2>Add a New Parent</h2>
  <form method="POST" action="{{ url_for('add_parent') }}">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone">
    <br>

    <button type="submit">Add Parent</button>
  </form>

  <!-- Display Existing Parents-->
  <h2>Parent List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for parent in parents %}
        <tr>
          <td>{{ parent.id }}</td>
          <td>{{ parent.first_name }}</td>
          <td>{{ parent.last_name }}</td>
          <td>{{ parent.email }}</td>
          <td>{{ parent.phone }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<br></br>
<a href="{{ url_for('dashboard') }}" class="dashboard-button">Back to Dashboard</a>
{% endblock %}
